@import url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fcategory%2Fbackgrounds-textures&psig=AOvVaw1Lew3RmIKEARgY4ZNUETyb&ust=1730071322107000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNCM2IiYrYkDFQAAAAAdAAAAABAE);

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  background: url(./dist/assets/0_hero.webp) no-repeat;
  background-size: cover;
  background-position: center;

}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 36px;
  text-align: center;
  color: #333;
}

main {
  margin-top: 20px;
}

.add-product-section {
  background: #e9ecef;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.add-product-section h2 {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #5b4da2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #483c8b;
}

.product-list-section {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dee2e6;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #5b4da2;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #eb9999;
}

tbody tr:hover {
  background-color: #a6c9ec;
}
